<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- Poduccion PRUEBAS -->
    <add name="DB_NADSIConnectionString" connectionString="Data Source=nadsi-db.cj0ebftulpp7.us-east-1.rds.amazonaws.com;Initial Catalog=DBNADSI;User ID=NADSIDB;Password=cRU2raC#" providerName="System.Data.SqlClient"/>
    <!-- Conexion para LOG-->
    <add name="DB_Complemento_PagoConnectionString" connectionString="Data Source=10.1.2.20;Initial Catalog=Complemento_Pago;User ID=UserPasantiaERP;Password=P@s4nT1a" providerName="System.Data.SqlClient"/>
    <!--  PRODUCCIÓN REAL-->
    <!--<add name="DB_NADSIConnectionString" connectionString="Data Source=nadsi1-db.cj0ebftulpp7.us-east-1.rds.amazonaws.com;Initial Catalog=DBNADSI;User ID=admin;Password=ruwEtl8r6f3a" providerName="System.Data.SqlClient"/>-->
    <add name="DBSGICE_ConnectionString" connectionString="Data Source=nadgsql.cs5arz98nmiu.us-east-1.rds.amazonaws.com;Initial Catalog=GLOBALSAAI_ERP;User ID=user_GSWERPII;Password=jsPE7467" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20000"/>
    <!---->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.IO.Compression, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="60"/>
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalSAAIWEB_RegistrosSAAIM3Soap" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="Transport"/>
        </binding>
        <binding name="GlobalSAAIWEB_RegistrosSAAIM3Soap1"/>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.globalsaai.net/WS_GlobalSAAIM3/GlobalSAAIWEB_RegistrosSAAIM3.asmx" binding="basicHttpBinding" bindingConfiguration="GlobalSAAIWEB_RegistrosSAAIM3Soap" contract="GlobalSite.GlobalSAAIWEB_RegistrosSAAIM3Soap" name="GlobalSAAIWEB_RegistrosSAAIM3Soap"/>
    </client>
  </system.serviceModel>
  <appSettings/>
</configuration>